nav.nav.top-bar
   .top-bar-left
      ul.menu
         li.menu-text Drop
   .top-bar-right
      ul.menu
         li
            a Home
         li
            a About
         li
            a Portfolio
         li
            a Contact